SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DB_NAME=<database_name>
DB_USER=<database_user>
DB_PASSWORD=<database_password>
DB_HOST=db
DB_PORT=<database_port>
GMAIL_USER=
GMAIL_PASSWORD=
